# Rust
/target/

.DS_Store
**/.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*

#movies lol
/scripts/movies/movies.json
/scripts/movies/movie_chunks
/scripts/fever
/scripts/fever.zip

# If all fixtures are generated and should never be committed:
/crates/core-testkit/fixtures/*.jsonl
!/crates/core-testkit/fixtures/small.jsonl

.logs/
